header {
  background-color: rgb(132, 0, 255);
  padding: 10px;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.5),
    0px 5px 15px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
form {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.searchBar {
  all: unset;
  background-color: azure;
  padding: 10px 0 10px 30px;
  border: none;
  border-radius: 2px;
  width: 30%;
}

.searchBtn {
  /* visibility: hidden;
  background-color: transparent;
  border: none; */
  display: none;
}
.searchLogo {
  transform: translateX(20px);
  color: blueviolet;
  cursor: pointer;
}
